
/* import variables */
@import url(Partials/_variables.css)

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Pacifico&family=Righteous&family=Roboto:wght@300&display=swap');

/* league font */
@font-face {
    font-family: friz;
    src: url(Fonts/Friz\ Quadrata\ Bold.otf );
 }

/* scroll */

html {
    scroll-behavior: smooth;
}

/* gradient background */

body {

background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* Designing nav-bar */

.navbar .nav-item .nav-link  {
    padding: 0px 18px;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--title-color);   
}

.navbar .nav-item .nav-link:hover {
    color: grey;
    text-decoration-color: black;

}


/* icon design */
i {
    margin-right: 10px ;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
 i {
     margin: 0px 0px 5px 34px;
 }

}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
 i {
        margin: 0px 0px 0px -13px;
        font-size: 15px;
    }
   
   }

/* button besign */
.btn {
    margin: 0px 5px;
    font-family: var(--roboto);
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

.btn {
    font-size: 12px;
    padding: 0px 20px;
    border-radius: 30px;
    margin-bottom: 11px;

    }
   
   }

   @media only screen and (max-width: 1399px) and (min-width: 1200px) {

    .btn {
        font-size: 12px;
        padding: 0px 20px;
        border-radius: 30px;
    
        }
       
       }
   

/* dropdowns */

.dropdown-menu {
    background-color: #97EAD2;
}

.dropdown-item {
    color: black;
    font-family: roboto;
    font-weight: 700;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}

/* hero section */

header.video {
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
    font-family: friz;
    text-transform: uppercase;
    
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  

  /* video button */

  button.hero {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 20px 32px;
    font-family: var(--roboto); 
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
  }

  button.hero:hover {
    transform: translateY(-10px);
  }

/* designing card */

.card {
    margin: 80px 20px;   
}

.card> img {
    height: auto;
}

.card-body
{
 text-align: center;
}


.card-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    font-family: var(--roboto); 
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s; 
}

.card-button:hover {
    transform: translateX(-10px);
}    

@media only screen and (max-width: 700px) and (min-width: 300px) {

    .card-button {
        display: table;
        margin: 0 auto;
    }

}



/* carousel design for champions */

.carousel {
    margin: 15px 0px;
}


.carousel .carousel-inner .carousel-item h5{
    color:white;
    font-size: 60px;
    font-family: friz;
}

.carousel .carousel-inner .carousel-item p{
    color:white;
    font-size: 20px;
    font-family: friz;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

@media only screen and (max-width: 700px) and (min-width: 300px) {

    .carousel .carousel-inner .carousel-item h5 {
        
        font-size: 20px;

       }
    
       .carousel .carousel-inner .carousel-item p{
        color:white;
        font-size: 10px;
        font-family: friz;
    }
       
    }

@media only screen and (min-width: 1500px) {
.carousel .carousel-inner .carousel-item>img {
    height: 96vh;
}

}

/* champs header */

.champ-section {
    margin-top: 80px;
  text-align: center;
 
}


 .champ{
     font-family: friz;
     font-size: 80px;
     text-align: center;
}


 h2 {
    font-family: friz;
    font-size: 30px;
    text-align: center;  
 }

 @media only screen and (max-width: 700px) and (min-width: 300px) {

    .champ {
        font-size: 30px;
    
        }
    .champ-section>h2 {
        font-size: 20px;
    }    

       
       }

 /* Maps */

 .map {
     margin-top: 80px;
 }

 .map .map-section h2 {
     display: flex;
     justify-content: center;
     align-content: center;
     margin-top: 80px;
 }

 .map .map-section h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }

 .map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }

.map-text {
    display: grid;

}
 
 @media only screen and (max-width: 700px) and (min-width: 300px) {

    .map {
        display: none;
    
        }
        .flex-container .map-text h6 {
        margin: 20px 8px;
    }  
    
    .flex-container {
     margin: 150px 0px;

    }

    .flex-container img {
        width: 100vw;
        margin: 60px 0px 0px 0px;
    }
 
       }

@media only screen and (min-width: 720px) {

.flex-container {
    display: none;
}

   
       




 /* Second card */
 
 .second-card-section {
     margin: 150px 30px 30px 30px;
 }

 /* footer */

 footer {
     margin-top: 80px;
 }
